* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	text-decoration: none;
}
:root {
	--color-interactive: #20c9ac;
	--color-background-gradial: #C3ADD7;
	--color-weak-font:#9499C3;
  }
  
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");